.flashSaleThumbnail {
    cursor: pointer;
    border: 1px solid #000
}
.rounded-circle {
    object-fit: cover;
    border-radius: 50%;
}

.td-180 {
    width: 180px;
}

.attachment {
    border: 2px dashed var(--theme-color);
    color: var(--theme-color);
    background: var(--theme-hover-bg);
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}

.w-400 {
    max-width: 400px;
}

.w-230 {
    max-width: 230px;
}

.w-500 {
    max-width: 500px;
}

.text-right {
    text-align: right;
}

.table-condensed tr {
    opacity: 1 !important;
    display: block !important;
    animation: none !important;
}

.dt-row {
    display: table-row !important;
}

.img-fluid {
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.searchResult {
    position: absolute;
    top: 65px;
    background: white;
    width: 70%;
}

.barcode {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 17px;
    background: aliceblue;
}

.productItem {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.productItem:hover {
    background-color: #f7f7f7;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #838383 !important;
}

.productItem .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.scanned-barcode {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 17px;
    background: aliceblue;
    margin-right: 6px;
    margin-bottom: 6px;
}

#scanner-container {
    width: 100%;
    min-height: 125px;
    background: #eee;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
}

#scanner-container video,
#scanner-container canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.box-title {
    background: #f1f5f9;
    padding: 3px 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.app-theme-dark .box-title {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.text-design {
   font-size: 14px;
   font-weight:bold;
}
